<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#65AE78" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://vjs.zencdn.net/7.7.6/video-js.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

    <script type="text/javascript" src="/dist/bundle.js"></script>
  </head>
  <body class="has-navbar-fixed-top">
    <div id="react"></div>
  </body>
</html>
