<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#55AABB" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://vjs.zencdn.net/7.7.6/video-js.css" />
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">

    <% if (enableAnalytics) { %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLPK591Z2X"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GLPK591Z2X');
      </script>
    <% } %>

    <script type="text/javascript" src="/dist/bundle.js"></script>
  </head>
  <body class="has-navbar-fixed-top">
    <div id="react"></div>
  </body>
</html>
