// Overrides for navbar

$navbar-background-color: #65AE78;
$navbar-item-color: #FFFFFF;
$navbar-item-img-max-height: 2.5rem;
$navbar-dropdown-arrow: #FFFFFF;

// Font imports

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Other style imports

@import "bulma/bulma.sass";
@import "./style.css";
